<div class="side-cart">
  <div class="justforhover">
  <a href="javascript:void(0)" onclick="openNav()">
    <div class="side-cart-image">
      <img src="img/slidecart.jpg" alt="">
    </div>
    <div class="itemstocart">
      <p><%=itemnumber%> ITEMS</p>
    </div>
    <div class="cart-value">
      <p>BDT  <%=totalprice%></p>
    </div>
  </a>
</div>

</div>

<!-- CART SECTION -->
<div id="mySidenav" class="sidenav">

  <div class="close-drawer" onclick="closeNav()">
    <img src="img/backcart.png" alt="">
  </div>
  <!-- <div class="cartitems"> -->

<div id="carttt" class="cartitems">


  <div  class="cartitems">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div class="cart-caption">
        <%=itemnumber%> items <i class="fas fa-shopping-bag"></i> <button type="button" class="btn btn-danger btn-sm" onclick="closeNav()">CLOSE</button></div>

    <div class="cd-item">
      <ul class="cd-cart-items">

        <%for(var i=0;i<cartitems.length;i++){%>


        <li>
          <div class="idk-yet">
            <div class="item-quantity qty ">
              <input class="quantity col-2 amount-input " min="1" name="quantity" value="<%=itemamount[i]%>" type="number" id="qty">
            </div>

            <div class="item-discard">
            <button class="cd-item-remove" type="button" >&times;</button>
            </div>
            <div class="item-desc">
              <table>
                <% if(cartitems[i].type==1){%>

                <tr>
                  <td class="bname"><%= cartitems[i].name %></td><td> BDT <%=cartitems[i].price%></td>
                </tr>
                <tr>
                  <td>Flavour:</td><td><%= cartitems[i].spiceLvl %></td>
                </tr>
                <tr>
                  <td>Addons:</td><td></td>
                </tr>
                <tr>
                  <td><%= cartitems[i].addon %></td><td>BDT <%= addonprice[i+1]%></td>
                </tr>
                <tr class="tot">
                  <td>TOTAL</td><td>BDT <%= itemamount[i]*(parseInt(cartitems[i].price)+parseInt(addonprice[i+1]))%></td>
                </tr>
                  <%}%>
                  <% if(cartitems[i].type==2){%>

                  <tr>
                    <td class="bname"><%= cartitems[i].name %></td><td> BDT <%=cartitems[i].price%></td>
                  </tr>
                  <tr>
                    <td>Size:</td><td></td>
                  </tr>
                  <tr>
                    <td><%= cartitems[i].addon %></td><td>BDT <%= addonprice[i+1]%></td>
                  </tr>
                  <tr class="tot">
                    <td>TOTAL</td><td>BDT <%= itemamount[i]*(parseInt(cartitems[i].price)+parseInt(addonprice[i+1]))%></td>
                  </tr>
                    <%}%>
                    <% if(cartitems[i].type==3){%>

                    <tr>
                      <td class="bname"><%= cartitems[i].name %></td><td> BDT <%=cartitems[i].price%></td>
                    </tr>

                    <tr class="tot">
                      <td>TOTAL</td><td>BDT <%= itemamount[i]*(parseInt(cartitems[i].price)+parseInt(addonprice[i+1]))%></td>
                    </tr>
                      <%}%>
                      <% if(cartitems[i].type==4){%>

                      <tr>
                        <td class="bname"><%= cartitems[i].name %></td><td> BDT <%=cartitems[i].price%></td>
                      </tr>
                      <tr>
                        <td>Flavour:</td><td><%= cartitems[i].spiceLvl %></td>
                      </tr>
                      <tr class="tot">
                        <td>TOTAL</td><td>BDT <%= itemamount[i]*(parseInt(cartitems[i].price)+parseInt(addonprice[i+1]))%></td>
                      </tr>
                        <%}%>
              </table>
            </div>
          </div>
        </li>
<%  }%>


      </ul>
    </div>

    <div class="cart-footer">
      <div class="total-price">
        BDT  <%=totalprice%>
      </div>
      <a href="/checkout"><button type="button" class="btn btn-success btn-block">CHECKOUT</button></a>

    </div>
  <!-- </div> -->
</div>
</div>
</div>
