<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>OUR MENU</p>
      <h4>All prices are inclusive of VAT</h4>
    </div>
  </div>
  <!-- Menu Page -->


  <section class="menu2">


    <!-- Signature Burgers -->
    <div class="container menu-con menu-section-header">
      <p>Signature Burgers</p>
     <!-- <hr class="h"> -->

    </div>
    <div class="row">

  <%  signatureitems.forEach(function(item){%>
      <div class="col-lg-3 col-md-6 price-cards">
        <div class="card menu-card">
        <!-- <img src="https://images.photowall.com/products/55415/burger.jpg?h=699&q=85" class="card-img-top" alt=""> -->
        <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

           <div class="card-body menucard-height">
            <h5 class="card-title"><%= item.Name %></h5>
            <hr class="cardhr">
            <p class="card-text"><%= item.Ingredients %></p>
            <h6 class="pricetags">BDT <%= item.Price %></h6>
          </div>
        </div>
      </div>
    <%  });%>

      </div>

    <!-- Regulars -->


    <div class="container  menu-con menu-section-header">
      <p>Regulars</p>
      <!-- <hr class="h"> -->

    </div>
    <div class="row">

      <%  regularitems.forEach(function(item){%>
          <div class="col-lg-3 col-md-6 price-cards">
            <div class="card menu-card">
              <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

               <div class="card-body menucard-height">
                <h5 class="card-title"><%= item.Name %></h5>
                <hr class="cardhr">
                <p class="card-text"><%= item.Ingredients %></p>
                <h6 class="pricetags">BDT <%= item.Price %></h6>
              </div>
            </div>
          </div>
        <%  });%>
</div>



    <!-- Chef's Specials -->


    <div class="container menu-con menu-section-header">
      <p>Chef's Specials</p>
      <!-- <hr class="h"> -->

    </div>
    <div class="row">

      <%  chefsitems.forEach(function(item){%>
          <div class="col-lg-3 col-md-6 price-cards">
            <div class="card menu-card">
              <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

               <div class="card-body menucard-height">
                <h5 class="card-title"><%= item.Name %></h5>
                <hr class="cardhr">
                <p class="card-text"><%= item.Ingredients %></p>
                <h6 class="pricetags">BDT <%= item.Price %></h6>
              </div>
            </div>
          </div>
        <%  });%>
        </div>



    <!-- Fries -->


    <div class="container menu-con menu-section-header">
      <p>Fries</p>
      <!-- <hr class="h"> -->

    </div>
    <div class="row">

      <%  fries.forEach(function(item){%>
          <div class="col-lg-6 col-md-6 price-cards">
            <div class="card menu-card">
              <!-- <img src="https://cms.splendidtable.org/sites/default/files/styles/w2000/public/french-fries.jpg?itok=FS-YwUYH" class="card-img-top" alt=""> -->
              <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

               <div class="card-body">
                <h5 class="card-title"><%= item.Name %></h5>
                <hr class="cardhr">
                <p class="card-text"><%= item.Ingredients %></p>
                <h6 class="pricetags">BDT <%= item.Price %></h6>
              </div>
            </div>
          </div>
        <%  });%>
        </div>

    <!-- Shakes -->


    <div class="container menu-con menu-section-header">
      <p>Shakes</p>
      <!-- <hr class="h"> -->

    </div>

    <div class="row">

      <%  shakes.forEach(function(item){%>
          <div class="col-lg-3 col-md-6 price-cards">
            <div class="card menu-card">
              <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSNc2hUwUTE6g77ACiUiKhk991lfF-_7rWB3JDE5FNHhVqIfWi&usqp=CAU" class="card-img-top" alt=""> -->
              <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

               <div class="card-body">
                <h5 class="card-title"><%= item.Name %></h5>
                <hr class="cardhr">
                <p class="card-text"><%= item.Ingredients %></p>
                <h6 class="pricetags">BDT <%= item.Price %></h6>
              </div>
            </div>
          </div>
        <%  });%>

</div>

    <!-- ADD ONS -->

    <div class="addoncard">
      <div class="card Addons">
         <div class="card-body">
          <h5 class="card-title">Add Ons</h5>
          <!-- <hr class="h"> -->
        </div>
        <ul class="list-group   ">


          <li class=" d-flex justify-content-between align-items-center Addons">
            Patty
            <span class="badge badge-primary badge-pill">BDT 90</span>
          </li>
          <li class=" d-flex justify-content-between align-items-center Addons">
            Cheese
            <span class="badge badge-primary badge-pill">BDT 20</span>
          </li>
          <li class=" d-flex justify-content-between align-items-center Addons">
            Beef Bacon
            <span class="badge badge-primary badge-pill">BDT 50</span>
          </li>
          <li class=" d-flex justify-content-between align-items-center Addons">
            Pepperoni
            <span class="badge badge-primary badge-pill">BDT 30</span>
          </li>
          <li class=" d-flex justify-content-between align-items-center Addons">
            BBQ Sauce
            <span class="badge badge-primary badge-pill">BDT 20 </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <%- include("partials/footer") -%>
