<%- include("partials/header") -%>

<section class="Takeaway">
  <!-- <h5>Create an account to get started</h5> -->
  <form class="User-form" action="/myaccount" method="post">
    <h5>MY PROFILE</h5>
    <div class="update-user-info">
      <div class="item-label">
        <p> First Name</p>
      </div>
      <input type="text" name="fname" value="<%=fname%>">
    </div>

    <div class="update-user-info">
      <div class="item-label">
        <p> Last Name</p>
      </div>
      <input type="text" name="lname" value="<%=lname%>">
    </div>

    <div class="update-user-info">
      <div class="item-label">
        <p> Email Address</p>
      </div>
      <input type="text" name="email" value="<%=email%>">
    </div>

    <div class="update-user-info">
      <div class="item-label">
        <p> Address</p>
      </div>
      <input type="text" name="address" class="address-input" value="<%=address%>">
    </div>

    <div class="update-user-info">
      <div class="item-label">
        <p> Phone No.</p>
      </div>
      <input type="text" name="phone" value="<%=phone%>">
    </div>
    <div class="user-save-button">
      <button type="submit" class="btn btn-outline-warning user-save">SAVE</button>
    </div>
  </form>
</section>

<%- include("partials/footer") -%>
