<%- include("partials/header") -%>
<!-- PAGE TITLE SECTION -->

<div class="body-sec">
  <div class="">
    <img class="burger-body" src="img/Burger.jpg" alt="">
  </div>

  <div class="container4 titlepage">
    <p>ORDER FROM OUR MENU</p>
    <h4>All prices are inclusive of VAT</h4>
  </div>
</div>


<section class="menu2">


  <!-- Signature Burgers -->
  <div class="container menu-con menu-section-header">
    <p>Signature Burgers</p>
    <!-- <hr class="h"> -->

  </div>
  <div class="row">


    <%  signatureitems.forEach(function(item){%>

    <div class="col-lg-3 col-md-6 price-cards">
      <div class="card menu-card">
        <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

        <!-- <img src="https://images.photowall.com/products/55415/burger.jpg?h=699&q=85" class="card-img-top" alt=""> -->
        <div class="card-body burger d-flex flex-column">
          <h5 class="card-title item-name"><%=item.Name %></h5>
          <hr class="cardhr">
          <p class="card-text"><%= item.Ingredients %></p>
          <h6 class="pricetags">BDT <span class="prices"><%=item.Price %></span></h6>
          <!-- Add to cart button -->
          <div class=" mt-auto addtocart">
            <span data-toggle="modal" data-target="#BurgerModal"><button type="button" class="btn btn-success"> Add to Cart</button> </span>
          </div>

        </div>
      </div>
    </div>
    <%  });%>
  </div>


  <!-- Regulars -->


  <div class="container  menu-con menu-section-header">
    <p>Regulars</p>
    <!-- <hr class="h"> -->

  </div>
  <div class="row">
    <%  regularitems.forEach(function(item){%>

    <div class="col-lg-3 col-md-6 price-cards">
      <div class="card menu-card">
        <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

        <div class="card-body burger d-flex flex-column">
          <h5 class="card-title item-name"><%= item.Name %></h5>
          <hr class="cardhr">
          <p class="card-text"><%= item.Ingredients %></p>
          <h6 class="pricetags">BDT <span class="prices"><%= item.Price %></span></h6>
          <!-- Add to cart button -->
          <div class=" mt-auto addtocart">
            <span data-toggle="modal" data-target="#BurgerModal"><button type="button" class="btn btn-success"> Add to Cart</button> </span>
          </div>

        </div>
      </div>
    </div>
    <%  });%>


  </div>

  <!-- Chef's Specials -->


  <div class="container menu-con menu-section-header">
    <p>Chef's Specials</p>
    <!-- <hr class="h"> -->

  </div>
  <div class="row">

    <%  chefsitems.forEach(function(item){%>

    <div class="col-lg-3 col-md-6 price-cards">
      <div class="card menu-card">
        <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

        <div class="card-body burger d-flex flex-column">
          <h5 class="card-title item-name"><%= item.Name %></h5>
          <hr class="cardhr">
          <p class="card-text"><%= item.Ingredients %></p>
          <h6 class="pricetags">BDT <span class="prices"><%= item.Price %></span></h6>
          <!-- Add to cart button -->
          <div class="mt-auto addtocart">
            <span data-toggle="modal" data-target="#BurgerModal"><button type="button" class="btn btn-success"> Add to Cart</button> </span>
          </div>

        </div>
      </div>
    </div>
    <%  });%>

  </div>

  <!-- Fries -->


  <div class="container menu-con menu-section-header">
    <p>Fries</p>
    <!-- <hr class="h"> -->

  </div>
  <div class="row">

    <%  fries.forEach(function(item){%>

    <div class="col-lg-4 col-md-6 price-cards">
      <div class="card menu-card">
        <img src="data:image/png;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />

        <!-- <img src="https://cms.splendidtable.org/sites/default/files/styles/w2000/public/french-fries.jpg?itok=FS-YwUYH" class="card-img-top" alt=""> -->
        <div class="card-body d-flex flex-column">
          <h5 class="card-title item-name"><%= item.Name %></h5>
          <hr class="cardhr">
          <p class="card-text"><%= item.Ingredients %></p>
          <h6 class="pricetags">BDT <span class="prices"><%= item.Price %></span></h6>
          <p>
            (LARGE BDT <%= item.Price + 20 %>)
            </p>
          <!-- Add to cart button -->
          <div class="mt-auto addtocart">
            <span data-toggle="modal" data-target="#FriesModal"><button type="button" class="btn btn-success"> Add to Cart</button> </span>
          </div>

        </div>
      </div>
    </div>
    <%  });%>
  </div>


  <!-- Shakes -->


  <div class="container menu-con menu-section-header">
    <p>Shakes</p>
    <!-- <hr class="h"> -->

  </div>

  <div class="row lastrow">


    <%  shakes.forEach(function(item){%>

    <div class="col-lg-4 col-md-6 price-cards">
      <div class="card menu-card">
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSNc2hUwUTE6g77ACiUiKhk991lfF-_7rWB3JDE5FNHhVqIfWi&usqp=CAU" class="card-img-top" alt=""> -->
        <img src="data:image/jpeg;base64, <%- item.Image.toString('base64') %>" alt="DB Image" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title item-name"><%= item.Name %></h5>
          <hr class="cardhr">
          <p class="card-text"><%= item.Ingredients %></p>
          <h6 class="pricetags">BDT <span class="prices"> <%= item.Price %></span></h6>
          <!-- Add to cart button -->
          <div class="mt-auto shakes addtocart">
            <span data-toggle="modal" data-target=""><button type="button" class="btn btn-success"> Add to Cart</button> </span>
          </div>

        </div>
      </div>
    </div>
    <%  });%>






    <!-- Modalfor Burgers -->
    <div class="modal fade" id="BurgerModal" tabindex="-1" role="dialog" aria-labelledby="BurgerModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container spice">


              <h5>Flavour</h5>
              <hr class="cardhr">
              <button type="button" class="btn b1 btn-outline-warning">Regular</button>
              <button type="button" class="btn b2 btn-outline-warning">Spicy</button>
              <button type="button" class="btn b3 btn-outline-warning">Extra Spicy</button>
            </div>

            <div class="container adds">
              <h5>Add Ons</h5>
              <hr class="cardhr">
              <button type="button" class="btn btn-outline-warning fixbtn">Patty</button> BDT 90
              <br>
              <button type="button" class="btn btn-outline-warning fixbtn">Cheese</button> BDT 20
              <br>
              <button type="button" class="btn btn-outline-warning fixbtn">Beef Bacon</button> BDT 50
              <br>
              <button type="button" class="btn btn-outline-warning fixbtn">Pepperoni</button> BDT 30
              <br>
              <button type="button" class="btn btn-outline-warning fixbtn">BBQ Sauce</button> BDT 20
              <br>
            </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success .add" data-dismiss="modal">ADD</button>
            </div>

        </div>
      </div>
    </div>

    <!-- MODAL for FRIES -->

    <div class="modal fade" id="FriesModal" tabindex="-1" role="dialog" aria-labelledby="FriesmodalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container spice">
              <h5> Size </h5>
              <hr class="cardhr">
              <button type="button" class="btn btn-outline-warning">Regular</button>
              <br>
              <button type="button" class="btn btn-outline-warning">Large</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">ADD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //modal finished here -->



</section>


<%- include("partials/footer") -%>
