<div class="order-stat">
  <form class="" action="/orderstat" method="post">
    <div class="show-order">
      <div class="item-label">
        <p>Select date</p>
      </div>
      <input type="date" name="orderDate" value="" required>
    </div>

    <div class="show-order">
      <div class="item-label">
        <p>Select status</p>
      </div>
      <select class="stat1" name="stat1">
        <option value="All">All</option>
        <option value="Delivered">Delivered</option>
        <option value="Dispatched">Dispatched</option>
        <option value="Pending">Pending</option>
      </select>
      <button type="submit" name="button" class="btn btn-success btn-sm">GO</button>
    </div>
  </form>
</div>
<div class="status-table-div">
  <table id="show-statuss">
    <tr>
      <th>ORDER ID</th>
      <th>NAME</th>
      <th>CONTACT NO.</th>
      <th>ADDRESS</th>
      <th>ORDER STATUS</th>
    </tr>
    <%  orderInfo.forEach(function(val){%>

    <tr>
      <td><%=val.orderID%></td>
      <td><%=val.user_name%></td>
      <td><%=val.phone%></td>
      <td><%=val.address%></td>
      <td><%=val.order_status%></td>
    </tr>

    <%  });%>



  </table>

</div>
<div class="countt">

  <div class="stat-count">
    <div class="stat">
      <p>Delivered</p>
    </div>
    <input type="number" name="delivered" value="<%=del%>" readonly>
  </div>
  <div class="stat-count">
    <div class="stat">
      <p>Dispatched</p>
    </div>
    <input type="number" name="dispatched" value="<%=disp%>" readonly>
  </div>
  <div class="stat-count">
    <div class="stat">
      <p>Pending</p>
    </div>
    <input type="number" name="pending" value="<%=pend%>" readonly>
  </div>
</div>
