<%- include("partials/header") -%>

<section class="Memo ">
<div class="Memo-form">
    <div class="memo-header">
      <img src="img/order-icon.jpg" alt="">
      <h5>Your order number  #<%=order_id%> has been confirmed</h5>
    </div>

    <div class="time-block">
      <div class="time-label">
        <p>Order placed at </p>
      </div>
      <div class="time-value">
        <p><%=dateTime%></p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Name  :</p>
      </div>
      <div class="memo-value">
        <p><%=ocName%></p>
      </div>
    </div>
    <div class="memo-block">
      <div class="memo-label">
        <p>Contact  :</p>
      </div>
      <div class="memo-value">
        <p><%=ocContact%></p>
      </div>
    </div>

    <div class="memo-block">
      <div class="memo-label">
        <p>Address :</p>
      </div>
      <div class="memo-value">
        <p><%=ocAddress%></p>
      </div>
    </div>



    <div class="memo-block">
      <div class="memo-label">
        <p>Estimated delivery by :</p>
      </div>
      <div class="memo-value">
        <p><%=estTime%></p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Order Description :</p>
      </div>
      <div class="cart-memo-block">
        <table>
          <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>ADD ONS/Size</th>
            <th>Flavor</th>
            <th>Price(BDT)</th>
          </tr>
          <%  for(var val=0;val<orderDesc.length;val++){%>
          <tr>
            <td><%=orderDesc[val].quant%></td>
            <td><%=ocItemName[val].iName%></td>
            <td><%=ocAddon[val].aName%></td>
            <td><%=orderDesc[val].spiceLvl%></td>
            <td><%=orderDesc[val].price%></td>
          </tr>

          <% }%>

        </table>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Delivery Charge :</p>
      </div>
      <div class="memo-value">
        <p>BDT 60 </p>
      </div>
    </div>


    <div class="memo-block">
      <div class="memo-label">
        <p>Total Price :</p>
      </div>
      <div class="memo-value">
        <p><%= ocTotalPrice+60%> </p>
      </div>
    </div>

    <div class="memo-block">
      <div class="memo-label">
        <p>Payment :</p>
      </div>
      <div class="memo-value">
        <p>Cash on Delivery </p>
      </div>
    </div>

    <div class="memo-footer">
      <p>Thank you for staying with burgerTown family !</p>
    </div>
    <div class="download-memo-button">
      <button type="submit" class="btn btn-outline-success btn-sm ">DOWNLOAD MEMO</button>
    </div>
    </div>
</section>

<%- include("partials/footer") -%>
